.navbar {
    border-radius: 0;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
  }
  
  .navbar-toggler {
    border: none;
  }
  
  .navbar-toggler:focus {
    outline: none;
  }
  
  .navbar-toggler-icon {
    color: #fff;
  }
  
  .navbar-nav .nav-item {
    margin-right: 10px;
  }
  
  .nav-link {
    color: #fff !important;
  }
  
  .dropdown-menu {
    background-color: #343a40;
  }
  
  .dropdown-item {
    color: #fff !important;
  }
  
  .dropdown-item:hover {
    background-color: #3d444a;
  }
  
  .dropdown-divider {
    background-color: #6c757d;
  }